/.gitattributes     export-ignore
/.github/           export-ignore
/CONTEXT.md         export-ignore
/.gitignore         export-ignore
/phpstan.neon.dist  export-ignore
/phpunit.xml.dist   export-ignore
/tests/             export-ignore
